<p id="notice"><%= notice %></p>

<h1>Smartagrics</h1>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>No.</th>
      <th>Moisture Reads</th>
      <th>pH Reads</th>
      <th>Time</th>
    </tr>
  </thead>

  <tbody>
    <% @smartagrics.each_with_index do |smartagric, index| %>
      <tr>
        <td><%= index + 1 %></td>
        <td><%= smartagric.mositurereads %></td>
        <td><%= smartagric.phreads %></td>
        <td><%= smartagric.created_at.strftime('%B %d, %Y, %T') %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
