<p id="notice"><%= notice %></p>

<p>
  <strong>Mositurereads:</strong>
  <%= @smartagric.mositurereads %>
</p>

<p>
  <strong>Phreads:</strong>
  <%= @smartagric.phreads %>
</p>

<%= link_to 'Edit', edit_smartagric_path(@smartagric) %> |
<%= link_to 'Back', smartagrics_path %>
